@tailwind base;
@tailwind components;
@tailwind utilities;

iframe {
  display: block; /* Assicurati che l'iframe sia un blocco */
}

iframe::-webkit-scrollbar {
  display: none; /* Nasconde la scrollbar in Webkit-based browsers */
}

.ig-header {
  display: none !important; /* Nasconde l'intestazione, se il selettore è corretto */
}
